
html,body{
background-image: url('../img/wall_3.png');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Roboto Slab', serif;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5);
transform: translatey(0px);
animation: float 6s infinite;
}

.wallet{

}




.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #fbf2ff;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: center;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #43e995;
color: black;
border:0 !important;
}



.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #43e995;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}